
.CodeMirror {
  height: 390px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}

@media (max-width: 600px){
  .CodeMirror {
    height: 250px !important;
  }
}

@media (max-width: 600px){
  .result {
    margin-top: 0px !important;
  }
}

@media (max-width: 600px){
  .editorbg {
    height:100% !important;
  }
}



